---
interface Props {
  name: string
  text: string
  href: string
}

const { name } = Astro.props
const { text } = Astro.props
const { href } = Astro.props
---

<footer>
  <div class="container flex fixed bottom-0 mb-6 text-[#6B7280] opacity-90">
    <div class="flex mx-auto">
      <p>{text}</p>
      <a class="ml-1" href={href}>{name}</a>
    </div>
  </div>
</footer>
