---
interface Props {
  name: string
  text: string
  href: string
}

const { name } = Astro.props
const { text } = Astro.props
const { href } = Astro.props
---

<footer class="fixed bottom-0 mb-6 w-full">
  <div class="flex mx-auto justify-center items-center text-[#6B7280]">
    <p>{text}</p>
    <a
      class="ml-1 hover:text-white hover:transition duration-200 ease-in-out"
      href={href}
      target="_blank"
      rel="noopener noreferrer">{name}</a
    >
  </div>
</footer>
